<!DOCTYPE html>
<html lang="{{lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>


    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

    <div class="site-wrapper">
        <div class="body-wrapper">
            <div class="wrap">
                {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
                {{{body}}}
            </div>
        </div>
        {{!-- The footer at the very bottom of the screen --}}
        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <div class="upper-footer">
                    <div class="address">
                        <div>Kompleks Perguruan Ma'arif Garum</div>
                        <div>Tawangsari, Kecamatan Garum, Kabupaten Blitar</div>
                        <div>Jawa Timur 66182</div>
                        <div class="phone">☎ (0342) 563571</div>
                        <div class="email">✉ mail@sdimaarifgarum.sch.id</div>
                    </div>
                    <div class="profile">
                        <a href="{{url absolute="url"}}tag/profil" class="header" rel="site-footer">PROFIL</a>
                        {{#get "posts" filter="featured:true, primary_tag:profil" order="published_at asc" limit="all" as |featured|}}
                            {{#foreach featured}}
                                <div>
                                    <a href="{{url absolute="true"}}">{{title}}</a>
                                </div>
                            {{/foreach}}
                        {{/get}}
                    </div>
                    <div class="information">
                        <div>
                            <a href="{{url absolute="url"}}tag/informasi" class="header" rel="site-footer">INFORMASI</a>
                        </div>
                        {{#get "posts" filter="featured:true, primary_tag:informasi" order="published_at asc" limit="all" as |featured|}}
                            {{#foreach featured}}
                                <div>
                                    <a href="{{url absolute="true"}}">{{title}}</a>
                                </div>
                            {{/foreach}}
                        {{/get}}
                    </div>
                </div>
                <div class="lower-footer">
                    <section class="site-footer-copyright">
                        <div class="site-name">
                            <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
                        </div>
                    </section>
                    <nav class="site-footer-nav">
                        <a href="{{url absolute="url"}}tag/kesiswaan" rel="site-footer">Kesiswaan</a>
                        <a href="{{url absolute="url"}}tag/berita" rel="site-footer">Berita</a>
                        <a href="{{url absolute="url"}}tag/galeri" rel="site-footer">Galeri</a>
                        <a href="{{url absolute="url"}}tag/silabus" rel="site-footer">Silabus</a>
                        <a href="{{url absolute="url"}}kontak" rel="site-footer">Kontak</a>
                        <div class="footer-divider"></div>
                        {{#if @blog.facebook}}
                            <a class="social-link social-link-fb" href="{{facebook_url @blog.facebook}}" target="_blank" rel="site-footer">{{> "icons/facebook"}}</a>
                        {{/if}}
                        {{#if @blog.twitter}}
                            <a class="social-link social-link-tw" href="{{twitter_url @blog.twitter}}" target="_blank" rel="site-footer">{{> "icons/twitter"}}</a>
                        {{/if}}
                        {{#if @labs.subscribers}}
                            <a class="subscribe-button" href="#subscribe">Subscribe</a>
                        {{else}}
                            <a class="rss-button" href="https://feedly.com/i/subscription/feed/{{@blog.url}}/rss/" target="_blank" rel="site-footer">{{> "icons/rss"}}</a>
                        {{/if}}
                    </nav>
                </div>
            </div>
        </footer>

    </div>

    {{!-- The big email subscribe modal content --}}
    {{#if @labs.subscribers}}
    <div id="subscribe" class="subscribe-overlay">
        <a class="subscribe-overlay-close" href="#"></a>
        <div class="subscribe-overlay-content">
            {{#if @blog.logo}}
                <img class="subscribe-overlay-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
            {{/if}}
            <h1 class="subscribe-overlay-title">Subscribe to {{@blog.title}}</h1>
            <p class="subscribe-overlay-description">Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox</p>
            {{subscribe_form placeholder="youremail@example.com"}}
        </div>
    </div>
    {{/if}}


    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script>
        $(document).ready(function($) {
            $(window).on('scroll', function() {
                //ADD .TIGHT
                if ($(window).scrollTop() + $(window).height() > $('.body-wrapper').outerHeight()) {
                    $('body').addClass('tight');
                } else {
                    $('body').removeClass('tight');
                }
            });
            //BACK TO PRESENTATION MODE
            $("html").on("click", "body.tight .body-wrapper", function() {
                $('html, body').animate({
                    scrollTop: $('.body-wrapper').outerHeight() - $(window).height()
                }, 500);
            });
        });
    </script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


    {{#if pagination.pages}}
    <script>
        // maxPages is a global variable that is needed to determine
        // if we need to load more pages for the infinitescroll, or if
        // we reached the last page already.
        var maxPages = parseInt('{{pagination.pages}}');
    </script>
    <script src="{{asset "js/infinitescroll.js"}}"></script>
    {{/if}}


    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
