{{!< default}}
{{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
	<div class="inner">
		<div class="site-header-content">
			<h1 class="site-title">
				{{#if @blog.logo}}
					<img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
				{{else}}
					{{@blog.title}}
				{{/if}}
			</h1>
			<h2 class="site-description index-page">{{@blog.description}}</h2>
		</div>
		{{> "site-nav"}}
	</div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
	<div class="inner">
		<div class="post-feed">
			<div id="slider">
				{{#foreach posts}}
					{{^if featured}}
						{{^has tag="galeri"}}
							{{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
							{{> "slider-card"}}
						{{/has}}
					{{/if}}
				{{/foreach}}
			</div>
			{{#get "posts" id="5b7c7e291a8c8629d5d1d592" include="authors, tags" as |greetings|}}
				{{#greetings}}
					{{> "post-card"}}
				{{/greetings}}
			{{/get}}
			<a href="/tag/berita" class="section-title post-card-content-link">
				<h2>Berita Terbaru</h2>
			</a>
			{{#get "posts" filter="tags:berita" include="authors, tags" limit="all" order="published_at desc" as |berita|}}
				{{#foreach berita}}
					{{> "post-card"}}
				{{/foreach}}
			{{/get}}
			<a href="/tag/informasi" class="section-title post-card-content-link">
				<h2 class="section-title">Informasi Terbaru</h2>
			</a>
			{{#get "posts" filter="tags:informasi" include="authors, tags" limit="all" order="published_at desc" as |informasi|}}
				{{#foreach informasi}}
					{{> "post-card"}}
				{{/foreach}}
			{{/get}}
			<a href="/tag/galeri" class="section-title post-card-content-link">
				<h2 class="section-title">Galeri</h2>
			</a>
			<div id="gallery">
				{{#foreach posts}}
					{{^if featured}}
						{{#has tag="galeri"}}
							<a class="post-card-image-link" href="{{url}}">
								<div class="gallery-img-wrapper">
									<div class="gallery-img" style="background-image: url({{feature_image}})"></div>
								</div>
							</a>
						{{/has}}
					{{/if}}
				{{/foreach}}
			</div>
		</div>
	</div>
</main>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>
	$(document).ready(function(){
		$('#slider').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 5000,
			dots: true,
			infinite: true,
			fade: true,
            arrows: false,
			cssEase: 'linear'
		});
		$('#gallery').slick({
			dots: true,
			slidesToShow: 4,
			slidesToScroll: 1,
			autoplay: true,
			infinite: true,
			autoplaySpeed: 2000,
            arrows: false,
			responsive: [
				{
					breakpoint: 1024,
					settings: {
						slidesToShow: 3
					}
				},
				{
					breakpoint: 650,
					settings: {
						slidesToShow: 2
					}
				},
				{
					breakpoint: 500,
					settings: {
						slidesToShow: 1
					}
				}
			]
		});
	});
</script>
