{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{#if @blog.logo}}
                    <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                {{else}}
                    {{@blog.title}}
                {{/if}}
            </h1>
            <h2 class="site-description index-page">{{@blog.description}}</h2>
        </div>
        {{> "site-nav"}}
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

        <div class="post-feed">
			{{#get "posts" filter="featured:true" limit="all" as |featured|}}
				{{#foreach featured}}
					{{> "post-card"}}
				{{/foreach}}
			{{/get}}
            {{#foreach posts}}
				{{^if featured}}
                	{{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                	{{> "post-card"}}
				{{/if}}
            {{/foreach}}
        </div>

    </div>
</main>
