<ul class="nav">
    <!-- Loop through the navigation items -->
    {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
        <a href="{{url absolute="true"}}">{{label}}</a>
            {{#get "posts" filter="featured:true, primary_tag:{{slug}}" limit="all" order="published_at asc" as |featured|}}
                <ul class="nav nav-dropdown">
                    {{#foreach featured}}
                        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
                            <a href="{{url absolute="true"}}">{{title}}</a>
                        </li>
                    {{/foreach}}
                </ul>
            {{/get}}
    </li>
    {{/foreach}}
    <!-- End the loop -->
</ul>
